<!DOCTYPE html>
<html>
<style>
  body {
	background-color: black;
  }

  h1 {
  color: green;
  margin-left: 60px;
}

</style>

<h1>WARNING do not place this website on any internet facing computer systems if you dont want them to become compromised!</h1>

<body>
	<section class='section content'>
	<h1>Wassup This is a test site using html!!</h1>
	<p>this is the pentesting version of memechat, this website is vulnerable by design and should not be used in any internet facing servers under any circumstances</p>
	<img src="https://th.bing.com/th/id/OIP.BkrpbimOmkYLvPqoq9rWLQHaE8?w=286&h=191&c=7&o=5&pid=1.7" alt="memes">
	</section>
	<div class="popup" id="myForm">
		<form action="/data" class="form-container">
		  <h1>Chat</h1>
	  
		  <label for="msg"><b>Message</b></label>
		  <textarea placeholder="Type message.." name="msg" required></textarea>
	  
		  <button type="submit" class="btn">Send</button>
		  <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
		</form>
		<h1>this sessions messages are: {{ text }}</h1>
	  </div>

	
	<p>If you click the "Submit" button, the form-data will be sent to a page called "/data".</p>
	<p1>about page</p>
	<a href='/about'>about vulnerable memechat</a>
	<a href='/changelog'>changelog for memechat!!</a>
	<p2>pentest release</p2>
</body>
</html>